* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.wrapper {
  position: relative;
  max-width: 1300px;
  height: 1400px;
  margin: 0 auto;
}

.background-image {
  position: absolute;
  background-image: url("./assets/img/main_section-1_background.png");
  height: 566px;
  width: 100%;
}

.wrapper__content {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
}

/* HEADER */

.header {
  height: 168px;
  position: relative;
}

.header__main {
  position: relative;
  top:28px;
  display: flex;
  align-items: center;
  width: 317px;
}

.header__logo-png {
}

.header__logo-svg-1 {
  position: absolute;
  left: 138px;
  top: 26px;
  width: 87px;
  height: 87px;
}

.header__logo-svg-2 {
  opacity: 0.502;
  position: absolute;
  left: 141px;
  top: 28px;
  width: 81px;
  height: 82px;
}

.header__logo-text {
  font-size: 41px;
  font-family: "Lucida Sans";
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
  letter-spacing: 0.27px;
}

/* HEADER NAVIGATION */

.navigation {
  position: absolute;
  top:71px;
  right: 140px;
  width: 453px;
  height: 41px;
  background-color: #f5c506;
}

.navigation__menu {
  display: grid;
  grid-template: 1fr / 172px 133px 148px;
  height: 41px;
  list-style-type: none;
}

.navigation__menu > li {
  height: 100%;
  position: relative;
}

.navigation__menu > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-family: "SegoeWP";
  color: rgb(155, 125, 8);
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
}

.navigation__menu > li > img {
  position: absolute;
}

.navigation__menu > li > a:hover {
  background-color: red;
}

.navigation__list-1 > a {
  padding-top: 12px;
  padding-left: 68px;
}

.navigation__list-1__img {
  top: 9px;
  left: 37px;
}

.navigation__list-2 > a {
  padding-top: 12px;
  padding-left: 42px;
}

.navigation__list-2__img {
  top: 9px;
  left: 13px;
}

.navigation__list-3 > a {
  padding-top: 12px;
  padding-left: 49px;
}

.navigation__list-3__img {
  top: 9px;
  left: 16px;
}

/* --------------------------------------- */

.Contact {
  font-size: 17px;
  font-family: "SegoeWP";
  color: rgb(155, 125, 8);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

/* MAIN */

/* SECTION-1 */

.section-1 {
  position: relative;
  width: 100%;
  height: 566px;
}

.section-1__video {
}

.section-1__rectangle {
  position: absolute;
  height: 398px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.section-1__rectangle > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c506;
  height: 57px;
  width: 32px;
}

.section-1__rectangle > a > img {
  height: 23px;
  width: 16px;
}

.section-1__rectangle > a:hover {
  background-color:red;
}

.section-1__text {
  position: absolute;
  width: 392px;
  height: 121px;
}

/* SECTION-2 */